@media (max-width: 450px) {
  #header .header {
    justify-content: space-between;
  }
  #header .header .header--navbar {
    display: none;
  }
  #hero .hero {
    flex-direction: column;
  }
  #hero .hero .hero--desc {
    width: 80%;
    margin-bottom: 80px;
  }
  #hero .hero .hero--desc__title {
    font-size: 24px;
  }
  #hero .hero .hero--bg {
    width: 80%;
  }
  #dsi .dsi {
    flex-direction: column;
  }
  #dsi .dsi .dsi--bg {
    width: 80%;
  }
  #dsi .dsi .dsi--desc {
    width: 80%;
  }
  #product .product .product--lol {
    flex-direction: column;
    text-align: center;
    row-gap: 51px;
  }
  #content .content {
    flex-direction: column;
    text-align: center;
    row-gap: 30px;
  }
}
@media (max-width: 576px) {
  #header .header {
    justify-content: space-between;
  }
  #header .header .header--navbar {
    display: none;
  }
  #hero .hero {
    flex-direction: column;
  }
  #hero .hero .hero--desc {
    width: 80%;
    margin-bottom: 80px;
  }
  #hero .hero .hero--desc__title {
    font-size: 24px;
  }
  #hero .hero .hero--bg {
    width: 80%;
  }
  #dsi .dsi {
    flex-direction: column;
  }
  #dsi .dsi .dsi--bg {
    width: 80%;
  }
  #dsi .dsi .dsi--desc {
    width: 80%;
  }
  #product .product .product--lol {
    flex-direction: column;
    text-align: center;
    row-gap: 51px;
  }
  #content .content {
    flex-direction: column;
    text-align: center;
    row-gap: 30px;
  }
}
@media (max-width: 768px) {
  #header .header {
    justify-content: space-between;
  }
  #header .header .header--navbar {
    display: none;
  }
  #hero .hero {
    flex-direction: column;
  }
  #hero .hero .hero--desc {
    width: 80%;
    margin-bottom: 80px;
  }
  #hero .hero .hero--desc__title {
    font-size: 24px;
  }
  #hero .hero .hero--bg {
    width: 80%;
  }
  #dsi .dsi {
    flex-direction: column;
  }
  #dsi .dsi .dsi--bg {
    width: 80%;
  }
  #dsi .dsi .dsi--desc {
    width: 80%;
  }
  #product .product .product--lol {
    flex-direction: column;
    text-align: center;
    row-gap: 51px;
  }
  #content .content {
    flex-direction: column;
    text-align: center;
    row-gap: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  padding: 28px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
#header .header--navbar {
  display: flex;
  gap: 30px;
}
#header .header--navbar a {
  font-weight: 400;
  font-size: 18px;
  color: rgba(31, 46, 53, 0.8);
  transition: all 0.4s ease-in;
}
#header .header--navbar a:hover {
  transform: scale(1.09) translateY(2px);
}
#header .header--navbar select {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  color: rgba(31, 46, 53, 0.8);
  transition: all 0.4s ease-in;
}
#header .header--navbar select:hover {
  transform: scale(1.09) translateY(2px);
}
#header .header--icons {
  display: flex;
  gap: 25px;
}
#header .header--icons i {
  color: #000;
  font-size: 18px;
  transition: all 0.4s ease-in;
}
#header .header--icons i:hover {
  transform: translateY(2px);
}

#hero .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 195px;
  margin-bottom: 100px;
}
#hero .hero--desc {
  width: 48%;
}
#hero .hero--desc__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 133.69%;
  color: #1F2E35;
}
#hero .hero--desc__title span {
  color: #EE4248;
}
#hero .hero--desc p {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #30444E;
  margin: 24px 0;
}
#hero .hero--desc__btn {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  padding: 12px 32px;
  background-color: #EE4248;
  transition: all 0.4s ease-in;
}
#hero .hero--desc__btn:hover {
  transform: scale(0.97) translateY(3px);
}
#hero .hero--bg {
  width: 46%;
}
#hero .hero--bg img {
  width: 100%;
}

#dsi {
  background-color: #F6F6F6;
  padding: 60px 0;
}
#dsi .dsi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dsi .dsi--bg {
  width: 47%;
}
#dsi .dsi--bg img {
  width: 100%;
}
#dsi .dsi--desc {
  width: 46%;
}
#dsi .dsi--desc__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  color: #1F2E35;
}
#dsi .dsi--desc__title span {
  color: #EE4248;
}
#dsi .dsi--desc p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #30444E;
  margin-top: 40px;
}

#product .product--our {
  padding: 40px 0;
}
#product .product--our h1 {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #000;
}
#product .product--lol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
#product .product--lol__our2 h2 {
  font-weight: 500;
  font-size: 28px;
  color: #EE4248;
}
#product .product--lol__our2 p {
  font-weight: 400;
  font-size: 18px;
  color: #30444E;
  padding: 20px 0;
}
#product .product--lol__our2 button {
  background: #EE4248;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 12px 17px;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.4s;
}
#product .product--lol__our2 button:hover {
  transform: scale(1.1);
  border: 1px solid black;
  background: rgb(129, 139, 251);
}

#content .content {
  display: flex;
  padding: 50px 0;
}
#content .content--text h1 {
  font-weight: 500;
  font-size: 18px;
  color: #263238;
}
#content .content--text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 149.19%;
  color: #263238;
  margin: 10px 0;
}
#content .content--phone {
  margin: 0 30px;
}
#content .content--phone h2 {
  font-weight: 500;
  font-size: 24px;
  color: #263238;
  margin-bottom: 33px;
}
#content .content--phone a {
  font-weight: 300;
  font-size: 18px;
  line-height: 149.19%;
  color: #263238;
}

#footer {
  background: #EE4248;
  padding: 20px 0;
}
#footer .footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .footer h1 {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
