// Alignment
@mixin alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// border and outline none
@mixin b-and-o__none {
  border: none;
  outline: none;
}
@mixin df {
  display: flex;
  align-items: center;
}
@mixin btn{
  background: #EE4248;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 12px 17px;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
  transition: .4s;
  &:hover{
    transform: scale(1.1);
    border: 1px solid black;
    background: rgb(129, 139, 251);
  }

}